<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-details></app-details>
    </div>
    <div class="col-sm-8">
      <app-add-review></app-add-review>
      <app-pictures></app-pictures>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <app-show-review></app-show-review>
    </div>
    <div class="col-sm-3">
      <app-more-info></app-more-info>
    </div>
  </div>

</div>
<app-footer></app-footer>
