<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>About</p>
        <a href="#">About Yelp</a>
        <br>
        <a href="#">Careers</a>
        <br>
        <a href="#">Press</a>
      </div>
      <div class="col-sm">
        <p>Discover</p>
        <a href="#">Yelp Project Cost Guides</a>
        <br>
        <a href="#">Collections</a>
        <br>
        <a href="#">Talk</a>
      </div>
      <div class="col-sm">
        <p>Yelp for Business Owners</p>
        <a href="#">Claim your Business Page</a>
        <br>
        <a href="#">Advertise on Yelp</a>
        <br>
        <a href="#">Yelp Reservations</a>
      </div>
      <div class="col-sm">
        <p>Languages</p>
        <a href="#">English</a>
        <p>Countries</p>
        <a href="#">United States</a>
      </div>
    </div>

    <img src="../assets/img/footer.png" alt="city" height="150" class="center">
  </div>
</div>
