<br>
<div class="container">
  <div class="row">

    <div class="col-sm-5">
      <h2>Dukes Seafood & Chowder-</h2>
      <h2>Bellevue</h2>
      <!-- <img src="../assets/img/0stars.png" alt="logo" height="30">
      <img src="../assets/img/1stars.png" alt="logo" height="30">
      <img src="../assets/img/2stars.png" alt="logo" height="30">
      <img src="../assets/img/3stars.png" alt="logo" height="30">
      <img src="../assets/img/4stars.png" alt="logo" height="30"> -->
      <img src="../assets/img/5stars.png" alt="logo" height="30">
      <p class="inline">9 reviews</p>
      <div class="well border">
        <img class="map" src="../assets/img/map.png" alt="map" height="130">
        <br>
        <br>
        <p><i class="fa fa-map-marker-alt"></i> <strong>Located in</strong></p>
        <a href="#"><strong>Lincoln Square</strong></a>
        <p>500 Bellevue Way NE</p>
        <p>500 Bellevue Way NE</p>
        <p>Ste 212</p>
        <p>Bellevue, WA 98004</p>
        <p>b/t Wolverine Way & 6th St</p>
        <p><i class="fa fa-directions"></i><a href="#">Get Directions</a></p>
        <p><i class="fa fa-phone"></i> (425) 505-2247</p>
        <p><i class="fa fa-globe"></i><a href="#"> websitedukeschowderhouse.com</a></p>
        <p><i class="fa fa-comment"></i><a href="#"> Message the business</a></p>
        <p><i class="fa fa-mobile"></i><a href="#"> Send to your Phone</a></p>

      </div>
    </div>



    <div class="col-sm-7">

    </div>
  </div>
</div>
