.search-bar{
  background: red;
}

.container{
  width: 75%;
}

.foat{
  float: right;
}

.btn-white{
  background: white;
}

.btn-red{
  border-color: #cc0000;
  color: white;
}

.btn-serch{
  background: #cc0000;
}
