<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"><div class="search-bar">
  <div class="container">
    <img src="../assets/img/yelp.png" alt="logo" height="60">

    <div class="card serch-bar">
      <label for="search"><strong>find</strong></label>
      <input #newSearch placeholder="restaurant" id="search">

      <label for="searchLocation"><strong>near</strong></label>
      <input #newSearchLocation placeholder="location" id="searchLocation">
      <button class="btn btn-serch"><i class="fa fa-search"></i></button>
    </div>



    <div class="float">
      <button class="btn btn-white float" style="float:right">Sign Up</button>
      <button class="btn btn-red float" style="float:right">Log In</button>
    </div>
  </div>

</div>
