<div class="border">
  <div class="container">
    <div class="dropdown border">
      <button class="dropbtn">Restaurants</button>
      <div class="dropdown-content">
        <a href="#">Delivery</a>
        <a href="#">Burgers</a>
        <a href="#">Reservations</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn">Home Servises</button>
      <div class="dropdown-content">
        <a href="#">Constructor</a>
        <a href="#">Landscaping</a>
        <a href="#">Electricians</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn">Auto Servises</button>
      <div class="dropdown-content">
        <a href="#">Auto repair</a>
        <a href="#">Car dillers</a>
        <a href="#">Oil change</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#">Dry Cleaning</a>
        <a href="#">Phone repairs</a>
        <a href="#">Bars</a>
      </div>
    </div>
    <div class="dropdown border float">
      <button class="dropbtn">Write a review</button>
    </div>
    <div class="dropdown border float">
      <button class="dropbtn">For businesses</button>
    </div>
  </div>
</div>
