<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="border">
  <div class="container">
    <div class="dropdown border">
      <button class="dropbtn"><i class="fa fa-utensils"></i>Restaurants</button>
      <div class="dropdown-content">
        <a href="#"><i class="fa fa-motorcycle"></i> Delivery</a>
        <a href="#"><i class="fa fa-hamburger"></i> Burgers</a>
        <a href="#"><i class="fa fa-calendar-check"></i> Reservations</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn"><i class="fa fa-home"></i> Home Servises</button>
      <div class="dropdown-content">
        <a href="#"><i class="fa fa-hammer"></i> Constructor</a>
        <a href="#"><i class="fa fa-key"></i> Locksmith</a>
        <a href="#"><i class="fa fa-plug"></i> Electricians</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn"><i class="fa fa-car"></i> Auto Servises</button>
      <div class="dropdown-content">
        <a href="#"><i class="fa fa-tools"></i> Auto repair</a>
        <a href="#"><i class="fa fa-parking"></i> Parking</a>
        <a href="#"><i class="fa fa-oil-can"></i> Oil change</a>
      </div>
    </div>
    <div class="dropdown border">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#"><i class="fa fa-dumbbell"></i> Gyms</a>
        <a href="#"><i class="fa fa-mobile-alt"></i> Phone repairs</a>
        <a href="#"><i class="fa fa-glass-cheers"></i> Bars</a>
      </div>
    </div>
    <div class="dropdown border float">
      <button class="dropbtn"><i class="fa fa-store"></i> For businesses</button>
    </div>
    <div class="dropdown border float">
      <a routerLink="new-review"><button class="dropbtn"><i class="fa fa-pencil-alt"></i> Write a review</button></a>
    </div>
  </div>
</div>
