<br>
<div *ngFor="let review of reviews | async">
<hr>
<div class="row">

  <div class="col-sm-5">
    <div class="hover-me">
      <img src="../assets/img/user.png" height="90px" alt="user">
    </div>
    <div class="show">
      <a href="#"><i class="fa fa-share-square"></i> Share review</a><br>
      <a href="#"><i class="fa fa-arrows-alt-h"></i> Embed review</a><br>
      <a href="#"><i class="fa fa-medal"></i> Compliment</a><br>
      <a href="#"><i class="fa fa-comment"></i> Send message</a><br>
      <a href="#"><i class="fa fa-walking"></i> Follow</a>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="stars">
      <img *ngIf="review.stars == 0" src="../assets/img/0stars.png" alt="logo" height="20">
      <img *ngIf="review.stars == 1" src="../assets/img/1stars.png" alt="logo" height="20">
      <img *ngIf="review.stars == 2" src="../assets/img/2stars.png" alt="logo" height="20">
      <img *ngIf="review.stars == 3" src="../assets/img/3stars.png" alt="logo" height="20">
      <img *ngIf="review.stars == 4" src="../assets/img/4stars.png" alt="logo" height="20">
      <img *ngIf="review.stars == 5" src="../assets/img/5stars.png" alt="logo" height="20">
    </div>
    <h3>{{review.review}}</h3>
  </div>

</div>
</div>
