<h4>More business info</h4>
<p>Happy Hour Specials <strong>Yes</strong> <br>
Takes Reservations <strong>Yes</strong> <br>
Delivery <strong>Yes</strong> <br>
Take-out <strong>Yes</strong> <br>
Accepts Credit Cards <strong>Yes</strong> <br>
Accepts Apple Pay <strong>No</strong> <br>
Accepts Google Pay <strong>No</strong> <br>
Accepts Cryptocurrency <strong>No</strong> <br>
Good For <strong>Lunch, Dinner</strong> <br>
Parking <strong>Valet, Garage</strong> <br>
Bike Parking <strong>Yes</strong> <br>
Wheelchair Accessible <strong>Yes</strong> <br>
Good for Kids <strong>Yes</strong> <br>
Good for Groups <strong>Yes</strong> <br>
Attire <strong>Casual</strong> <br>
Ambience <strong>Casual</strong> <br>
Noise Level <strong>Avarage</strong> <br>
Good For Dancing <strong>No</strong> <br>
Alcohol <strong>Full Bar</strong> <br>
Good For Happy Hour <strong>Yes</strong> <br>
Coat Check <strong>Yes</strong> <br>
Outdoor Seating <strong>No</strong> <br>
Wi-Fi <strong>Free</strong> <br>
Has TV <strong>Yes</strong> <br>
Dogs Allowed <strong>No</strong> <br>
Waiter Service <strong>Yes</strong> <br>
Caters <strong>No</strong> <br>
Has Pool Table <strong>No</strong> <br></p>
