.container{
  margin-left: 5%;
}

.line{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  padding: 18px;
  max-width: 630px;
}

.btn{

  min-width: 240px;
  height: 48px;
  color: #fff;
  background: red;
  border: 1px solid red;
}

.review{
  font-size: 18px;
  line-height: 1.33333em;
  line-height: 1.44em;
  border: 0;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
  height: 125px
}

.link{
  margin-left: 180px;
}
