<app-header></app-header>
<br>
<div class="container">
  <h1><a href="#">Dukes Seafood & Chowder</a></h1>
  <div class="line">
    <div>
      <input *ngFor="let star of stars" (change)="onSelection($event)" type="radio" name="radiogroup" value="{{star}}">
    </div>

    <div>
      <input class="review" #newReview placeholder="Your review helps others learn about great local businesses.">
    </div>
  </div>
  <br>
  <a routerLink=""><button class="btn" (click)="submitForm(newReview.value); newReview.value= ''">Add</button></a>
  <a class="link" href="#">Read our review guidelines</a>
</div>
